# 10 minutes pour les pandas
Il s'agit d'une courte introduction aux pandas, principalement axée sur les nouveaux utilisateurs. Vous pouvez voir des recettes plus complexes dans le Cookbook

Habituellement, nous importons comme suit:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Création d'objets
Création d'une série en passant une liste de valeurs, permettant aux pandas de créer un index entier par défaut:

In [2]:
    s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Création d'un DataFrame en passant un tableau numpy, avec un index datetime et des colonnes étiquetées:

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.577084  2.646160  0.041611  0.590344
2013-01-02 -0.817904  0.463043  0.043920  0.028779
2013-01-03  0.870476  0.268208  0.248490 -0.395515
2013-01-04  0.893597  0.547514 -1.571100 -0.006038
2013-01-05  0.046180 -0.523030  0.842748 -0.149268
2013-01-06  0.077188 -0.803890 -0.662860 -0.090737

Création d'un DataFrame en passant un dictionnaire d'objets qui peut être convertis en séries.

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....: 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Ayant des types spécifiques

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Si vous utilisez IPython, la terminaison des onglets pour les noms de colonnes (ainsi que les attributs publics) est automatiquement activée. Voici un sous-ensemble des attributs qui seront complétés:

In [ ]:
df2.<TAB>
df2.A                  df2.boxplot
df2.abs                df2.C
df2.add                df2.clip
df2.add_prefix         df2.clip_lower
df2.add_suffix         df2.clip_upper
df2.align              df2.columns
df2.all                df2.combine
df2.any                df2.combineAdd
df2.append             df2.combine_first
df2.apply              df2.combineMult
df2.applymap           df2.compound
df2.as_blocks          df2.consolidate
df2.asfreq             df2.convert_objects
df2.as_matrix          df2.copy
df2.astype             df2.corr
df2.at                 df2.corrwith
df2.at_time            df2.count
df2.axes               df2.cov
df2.B                  df2.cummax
df2.between_time       df2.cummin
df2.bfill              df2.cumprod
df2.blocks             df2.cumsum
df2.bool               df2.D

In [14]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

Comme vous pouvez le voir, les colonnes A, B, C et D sont automatiquement complétées. E est là aussi. Le reste des attributs ont été tronqués pour plus de concision.

In [15]:
df.head()

                   A         B         C         D
2013-01-01  0.577084  2.646160  0.041611  0.590344
2013-01-02 -0.817904  0.463043  0.043920  0.028779
2013-01-03  0.870476  0.268208  0.248490 -0.395515
2013-01-04  0.893597  0.547514 -1.571100 -0.006038
2013-01-05  0.046180 -0.523030  0.842748 -0.149268

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.893597  0.547514 -1.571100 -0.006038
2013-01-05  0.046180 -0.523030  0.842748 -0.149268
2013-01-06  0.077188 -0.803890 -0.662860 -0.090737

Affiche l'index, les colonnes et les données numpy sous-jacentes

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.57708377,  2.64615953,  0.04161133,  0.5903441 ],
       [-0.81790354,  0.46304307,  0.04392045,  0.02877938],
       [ 0.87047582,  0.26820763,  0.24848993, -0.39551494],
       [ 0.89359735,  0.54751375, -1.57110009, -0.00603763],
       [ 0.04617964, -0.52302974,  0.84274794, -0.1492677 ],
       [ 0.07718829, -0.80389042, -0.66286044, -0.09073692]])

Faire un rapide résumé statistique de vos données

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.274437  0.433001 -0.176198 -0.003739
std    0.650297  1.215166  0.836313  0.327485
min   -0.817904 -0.803890 -1.571100 -0.395515
25%    0.053932 -0.325220 -0.486742 -0.134635
50%    0.327136  0.365625  0.042766 -0.048387
75%    0.797128  0.526396  0.197348  0.020075
max    0.893597  2.646160  0.842748  0.590344

Transposer vos données

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.577084   -0.817904    0.870476    0.893597    0.046180    0.077188
B    2.646160    0.463043    0.268208    0.547514   -0.523030   -0.803890
C    0.041611    0.043920    0.248490   -1.571100    0.842748   -0.662860
D    0.590344    0.028779   -0.395515   -0.006038   -0.149268   -0.090737

Tri par axe

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.590344  0.041611  2.646160  0.577084
2013-01-02  0.028779  0.043920  0.463043 -0.817904
2013-01-03 -0.395515  0.248490  0.268208  0.870476
2013-01-04 -0.006038 -1.571100  0.547514  0.893597
2013-01-05 -0.149268  0.842748 -0.523030  0.046180
2013-01-06 -0.090737 -0.662860 -0.803890  0.077188

Tri par valeurs

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  0.077188 -0.803890 -0.662860 -0.090737
2013-01-05  0.046180 -0.523030  0.842748 -0.149268
2013-01-03  0.870476  0.268208  0.248490 -0.395515
2013-01-02 -0.817904  0.463043  0.043920  0.028779
2013-01-04  0.893597  0.547514 -1.571100 -0.006038
2013-01-01  0.577084  2.646160  0.041611  0.590344

# Sélection
Note : Bien que les expressions Python / Numpy standard pour la sélection et le paramétrage soient intuitives et utiles pour le travail interactif, pour le code de production, nous recommandons les méthodes optimisées d'accès aux données pandas, .at, .iat, .loc, .iloc et .ix.

# Récupération
Sélection d'une seule colonne, qui donne une série, équivalent à df.A

In [25]:
df['A']

2013-01-01    0.577084
2013-01-02   -0.817904
2013-01-03    0.870476
2013-01-04    0.893597
2013-01-05    0.046180
2013-01-06    0.077188
Freq: D, Name: A, dtype: float64

Sélectionner via [], pour couper les lignes.

In [26]:
df[0:3]

                   A         B         C         D
2013-01-01  0.577084  2.646160  0.041611  0.590344
2013-01-02 -0.817904  0.463043  0.043920  0.028779
2013-01-03  0.870476  0.268208  0.248490 -0.395515

In [27]:
df['20130102':'20130104']

                   A         B        C         D
2013-01-02 -0.817904  0.463043  0.04392  0.028779
2013-01-03  0.870476  0.268208  0.24849 -0.395515
2013-01-04  0.893597  0.547514 -1.57110 -0.006038

# Sélection par étiquette (label)

Obtenir une coupe transversale à l'aide d'une étiquette.

In [28]:
df.loc[dates[0]]

A    0.577084
B    2.646160
C    0.041611
D    0.590344
Name: 2013-01-01 00:00:00, dtype: float64


Sélection par étiquette sur plusieurs axes

In [29]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.577084  2.646160
2013-01-02 -0.817904  0.463043
2013-01-03  0.870476  0.268208
2013-01-04  0.893597  0.547514
2013-01-05  0.046180 -0.523030
2013-01-06  0.077188 -0.803890

Affichage du découpage d'étiquettes, les deux extrémités sont incluses

In [30]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.817904  0.463043
2013-01-03  0.870476  0.268208
2013-01-04  0.893597  0.547514

Réduction des dimensions de l'objet retourné

In [32]:
df.loc['20130102',['A','B']]

A   -0.817904
B    0.463043
Name: 2013-01-02 00:00:00, dtype: float64

Pour obtenir une valeur scalaire

In [33]:
df.loc[dates[0],'A']

0.57708376832695163

Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [34]:
df.at[dates[0],'A']

0.57708376832695163

# Sélection par position

Sélectionnez via la position des entiers passés

In [35]:
df.iloc[3]

A    0.893597
B    0.547514
C   -1.571100
D   -0.006038
Name: 2013-01-04 00:00:00, dtype: float64


Par tranches entières, agissant comme numpy / python

In [36]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.893597  0.547514
2013-01-05  0.046180 -0.523030


Par des listes d'emplacements de positions entières, semblables au style numpy / python

In [38]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.817904  0.043920
2013-01-03  0.870476  0.248490
2013-01-05  0.046180  0.842748


Pour trancher des lignes explicitement

In [39]:
df.iloc[1:3,:]

                   A         B        C         D
2013-01-02 -0.817904  0.463043  0.04392  0.028779
2013-01-03  0.870476  0.268208  0.24849 -0.395515

Pour couper des colonnes explicitement

In [40]:
df.iloc[:,1:3]

                   B         C
2013-01-01  2.646160  0.041611
2013-01-02  0.463043  0.043920
2013-01-03  0.268208  0.248490
2013-01-04  0.547514 -1.571100
2013-01-05 -0.523030  0.842748
2013-01-06 -0.803890 -0.662860


Pour obtenir une valeur explicitement

In [41]:
df.iloc[1,1]

0.46304306750908364


Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [43]:
df.iat[1,1]

0.46304306750908364

# Indexation booléenne

Utilisation des valeurs d'une seule colonne pour sélectionner des données.

In [44]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.577084  2.646160  0.041611  0.590344
2013-01-03  0.870476  0.268208  0.248490 -0.395515
2013-01-04  0.893597  0.547514 -1.571100 -0.006038
2013-01-05  0.046180 -0.523030  0.842748 -0.149268
2013-01-06  0.077188 -0.803890 -0.662860 -0.090737

In [45]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.577084  2.646160  0.041611  0.590344
2013-01-02       NaN  0.463043  0.043920  0.028779
2013-01-03  0.870476  0.268208  0.248490       NaN
2013-01-04  0.893597  0.547514       NaN       NaN
2013-01-05  0.046180       NaN  0.842748       NaN
2013-01-06  0.077188       NaN       NaN       NaN

Utilisation de la méthode isin () pour le filtrage:

In [48]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.577084  2.646160  0.041611  0.590344    one
2013-01-02 -0.817904  0.463043  0.043920  0.028779    one
2013-01-03  0.870476  0.268208  0.248490 -0.395515    two
2013-01-04  0.893597  0.547514 -1.571100 -0.006038  three
2013-01-05  0.046180 -0.523030  0.842748 -0.149268   four
2013-01-06  0.077188 -0.803890 -0.662860 -0.090737  three

In [49]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.870476  0.268208  0.248490 -0.395515   two
2013-01-05  0.046180 -0.523030  0.842748 -0.149268  four

# Setting

La définition d'une nouvelle colonne aligne automatiquement les données par les index

In [53]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [54]:
df['F'] = s1


Définition des valeurs par libellé

In [55]:
df.at[dates[0],'A'] = 0

Définition des valeurs par position

In [56]:
df.iat[0,1] = 0

Réglage par assignation avec un tableau numpy

In [57]:
df.loc[:,'D'] = np.array([5] * len(df))


Le résultat des opérations de réglage préalable

In [59]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.041611  5  NaN
2013-01-02 -0.817904  0.463043  0.043920  5  1.0
2013-01-03  0.870476  0.268208  0.248490  5  2.0
2013-01-04  0.893597  0.547514 -1.571100  5  3.0
2013-01-05  0.046180 -0.523030  0.842748  5  4.0
2013-01-06  0.077188 -0.803890 -0.662860  5  5.0

In [60]:
df2 = df.copy()

In [61]:
df2[df2 > 0] = -df2

In [62]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.041611 -5  NaN
2013-01-02 -0.817904 -0.463043 -0.043920 -5 -1.0
2013-01-03 -0.870476 -0.268208 -0.248490 -5 -2.0
2013-01-04 -0.893597 -0.547514 -1.571100 -5 -3.0
2013-01-05 -0.046180 -0.523030 -0.842748 -5 -4.0
2013-01-06 -0.077188 -0.803890 -0.662860 -5 -5.0

# Données manquantes
Pandas utilise principalement la valeur np.nan pour représenter les données manquantes. Il est par défaut non inclus dans les calculs.

La réinitialisation vous permet de modifier / ajouter / supprimer l'index sur un axe spécifié. Cela retourne une copie des données.

In [63]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.041611  5  NaN  1.0
2013-01-02 -0.817904  0.463043  0.043920  5  1.0  1.0
2013-01-03  0.870476  0.268208  0.248490  5  2.0  NaN
2013-01-04  0.893597  0.547514 -1.571100  5  3.0  NaN

Pour supprimer les lignes dont les données manquent.

In [65]:
df1.dropna(how='any')

                   A         B        C  D    F    E
2013-01-02 -0.817904  0.463043  0.04392  5  1.0  1.0

Remplir des données manquantes

In [66]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.041611  5  5.0  1.0
2013-01-02 -0.817904  0.463043  0.043920  5  1.0  1.0
2013-01-03  0.870476  0.268208  0.248490  5  2.0  5.0
2013-01-04  0.893597  0.547514 -1.571100  5  3.0  5.0


Pour obtenir le masque booléen où les valeurs sont nan

In [67]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True


# Opérations

# Statistiques

Les opérations en général excluent les données manquantes.

Effectuer une statistique descriptive

In [68]:
df.mean()

A    0.178256
B   -0.008026
C   -0.176198
D    5.000000
F    3.000000
dtype: float64

Même opération sur l'autre axe

In [69]:
df.mean(1)

2013-01-01    1.260403
2013-01-02    1.137812
2013-01-03    1.677435
2013-01-04    1.574002
2013-01-05    1.873180
2013-01-06    1.722087
Freq: D, dtype: float64


Fonctionnement avec des objets qui ont une dimension différente et ont besoin d'alignement. En outre, les pandas diffusent automatiquement le long de la dimension spécifiée.

In [70]:
pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [73]:
df.sub(s, axis='index')

                      A   B   C   D   F
2013-01-01 00:00:00 NaN NaN NaN NaN NaN
2013-01-02 00:00:00 NaN NaN NaN NaN NaN
2013-01-03 00:00:00 NaN NaN NaN NaN NaN
2013-01-04 00:00:00 NaN NaN NaN NaN NaN
2013-01-05 00:00:00 NaN NaN NaN NaN NaN
2013-01-06 00:00:00 NaN NaN NaN NaN NaN
0                   NaN NaN NaN NaN NaN
1                   NaN NaN NaN NaN NaN
2                   NaN NaN NaN NaN NaN
3                   NaN NaN NaN NaN NaN
4                   NaN NaN NaN NaN NaN
5                   NaN NaN NaN NaN NaN

# Appliquer

Application des fonctions aux données

In [74]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.041611   5   NaN
2013-01-02 -0.817904  0.463043  0.085532  10   1.0
2013-01-03  0.052572  0.731251  0.334022  15   3.0
2013-01-04  0.946170  1.278764 -1.237078  20   6.0
2013-01-05  0.992349  0.755735 -0.394330  25  10.0
2013-01-06  1.069538 -0.048156 -1.057191  30  15.0

In [75]:
df.apply(lambda x: x.max() - x.min())

A    1.711501
B    1.351404
C    2.413848
D    0.000000
F    4.000000
dtype: float64

# Histogramme

In [76]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    3
2    4
3    3
4    4
5    0
6    3
7    6
8    1
9    2
dtype: int32

In [77]:
s.value_counts()

3    3
6    2
4    2
2    1
1    1
0    1
dtype: int64

# Méthodes de chaînes
Series est équipé d'un ensemble de méthodes de traitement de chaîne dans l'attribut str qui le rendent facile à utiliser sur chaque élément du tableau, comme dans l'extrait de code ci-dessous. Notez que le pattern-matching dans str utilise généralement des expressions régulières par défaut (et dans certains cas les utilise toujours). Voir plus dans les Méthodes Vectorized String.

In [80]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# Fusionner
# Concaténer

Pandas offre diverses facilités pour combiner facilement des objets Series, DataFrame et Panel avec différents types de logique de consigne pour les index et la fonctionnalité d'algèbre relationnelle dans le cas d'opérations de type join / merge.

Concaténation des objets pandas avec concat ():

In [81]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.802752  0.004373  0.966674  1.478094
1  1.563421 -2.297692  1.180232 -0.730539
2  0.648025 -0.342239  0.211291 -0.993883
3 -0.752413 -0.368964 -2.382361  1.572514
4 -0.008165  2.483001 -0.075887  0.754397
5  0.656862  0.781714  0.443522 -0.169702
6  2.111615  1.143072 -1.199776  0.965472
7  0.393017 -0.604002  1.797389  0.611861
8 -1.056867  1.085566  2.440598 -0.077346
9 -0.344533 -1.184149  0.521853 -1.320253

In [83]:
# Diviser le dataframe
pieces = [df[:3], df[3:7], df[7:]]

In [84]:
pd.concat(pieces)

          0         1         2         3
0 -0.802752  0.004373  0.966674  1.478094
1  1.563421 -2.297692  1.180232 -0.730539
2  0.648025 -0.342239  0.211291 -0.993883
3 -0.752413 -0.368964 -2.382361  1.572514
4 -0.008165  2.483001 -0.075887  0.754397
5  0.656862  0.781714  0.443522 -0.169702
6  2.111615  1.143072 -1.199776  0.965472
7  0.393017 -0.604002  1.797389  0.611861
8 -1.056867  1.085566  2.440598 -0.077346
9 -0.344533 -1.184149  0.521853 -1.320253

# Jointures

In [86]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [90]:
left

   key  lval
0  foo     1
1  foo     2

In [89]:
right

   key  rval
0  foo     4
1  foo     5

In [91]:
 pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5


Un autre exemple qui peut être donné est:

In [92]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [93]:
left

   key  lval
0  foo     1
1  bar     2

In [94]:
right

   key  rval
0  foo     4
1  bar     5

In [95]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

# Ajouter (append)

Ajouter des lignes à un dataframe.

In [96]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.764250 -2.377569 -0.406958  1.282776
1 -0.387012 -1.038837  0.262229 -0.063150
2 -0.622228 -1.035750 -0.969045  0.662666
3  0.351264  0.892197  1.255688  0.055378
4  0.447853  0.361711 -2.428082 -1.286013
5  2.866539 -1.086457  0.406115  1.409570
6 -0.309891  0.816824  0.468990  0.746574
7  0.243450 -0.129649 -0.866729  0.373431

In [97]:
s = df.iloc[3]

In [98]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.764250 -2.377569 -0.406958  1.282776
1 -0.387012 -1.038837  0.262229 -0.063150
2 -0.622228 -1.035750 -0.969045  0.662666
3  0.351264  0.892197  1.255688  0.055378
4  0.447853  0.361711 -2.428082 -1.286013
5  2.866539 -1.086457  0.406115  1.409570
6 -0.309891  0.816824  0.468990  0.746574
7  0.243450 -0.129649 -0.866729  0.373431
8  0.351264  0.892197  1.255688  0.055378

# Regroupement (grouping)
Par "group by", on entend un processus impliquant une ou plusieurs des étapes suivantes

Diviser les données en groupes en fonction de certains critères.
Appliquer une fonction à chaque groupe indépendamment.
Combiner les résultats dans une structure de données.

In [99]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                           'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                           'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
   ....: 
df

     A      B         C         D
0  foo    one  1.052681 -2.410076
1  bar    one  0.406411  0.828198
2  foo    two -0.317239 -1.117382
3  bar  three -1.009331  1.078948
4  foo    two -0.337310  0.370179
5  bar    two  0.990302 -0.446473
6  foo    one -0.767601  0.485454
7  foo  three -0.154879 -1.028390

Grouper puis appliquer une somme de fonction aux groupes résultants.

In [100]:
df.groupby('A').sum()

            C         D
A
bar  0.387382  1.460673
foo -0.524347 -3.700216

Le regroupement par plusieurs colonnes forme un index hiérarchique, que nous appliquons ensuite à la fonction.

In [101]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.406411  0.828198
    three -1.009331  1.078948
    two    0.990302 -0.446473
foo one    0.285080 -1.924622
    three -0.154879 -1.028390
    two   -0.654549 -0.747203

# Remodelage (reshaping)

# Empiler (stack)

In [103]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
   ....:                      'foo', 'foo', 'qux', 'qux'],
   ....:                     ['one', 'two', 'one', 'two',
   ....:                      'one', 'two', 'one', 'two']]))
   ....:

In [104]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [105]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [106]:
df2 = df[:4]
df2

                     A         B
first second
bar   one     0.241781 -0.254363
      two    -0.197443  1.902964
baz   one     0.784956 -1.012874
      two     1.213937  0.849798

La méthode stack () "compresse" un niveau dans les colonnes du DataFrame.

In [107]:
stacked = df2.stack()
stacked

first  second
bar    one     A    0.241781
               B   -0.254363
       two     A   -0.197443
               B    1.902964
baz    one     A    0.784956
               B   -1.012874
       two     A    1.213937
               B    0.849798
dtype: float64

Avec un DataFrame ou une série "empilés" (ayant un index MultiIndex), l'opération inverse de stack () est unstack (), qui désempile par défaut le dernier niveau:

In [108]:
stacked.unstack()

                     A         B
first second
bar   one     0.241781 -0.254363
      two    -0.197443  1.902964
baz   one     0.784956 -1.012874
      two     1.213937  0.849798

In [109]:
stacked.unstack(1)

second        one       two
first
bar   A  0.241781 -0.197443
      B -0.254363  1.902964
baz   A  0.784956  1.213937
      B -1.012874  0.849798

In [110]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.241781  0.784956
       B -0.254363 -1.012874
two    A -0.197443  1.213937
       B  1.902964  0.849798

# Tables pivotantes

In [112]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
   .....:                    'B' : ['A', 'B', 'C'] * 4,
   .....:                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
   .....:                    'D' : np.random.randn(12),
   .....:                    'E' : np.random.randn(12)})
   .....: 
df

        A  B    C         D         E
0     one  A  foo -0.483987  0.928676
1     one  B  foo -1.061374  0.230521
2     two  C  foo -2.194246  2.633796
3   three  A  bar  1.359139 -1.050740
4     one  B  bar  0.459691 -0.503527
5     one  C  bar  1.150591  1.408546
6     two  A  foo -0.031042 -0.312576
7   three  B  foo -0.721464 -0.768980
8     one  C  foo -1.325522 -0.428611
9     one  A  bar  0.863376 -0.582534
10    two  B  bar -0.547222  0.138951
11  three  C  bar -0.764002  0.469484


Nous pouvons produire des tableaux croisés à partir de ces données très facilement:

In [113]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.863376 -0.483987
      B  0.459691 -1.061374
      C  1.150591 -1.325522
three A  1.359139       NaN
      B       NaN -0.721464
      C -0.764002       NaN
two   A       NaN -0.031042
      B -0.547222       NaN
      C       NaN -2.194246